
<div class="sidebar bg-light border-right shadow" style="width: 230px; position: fixed; height: 100%; padding: 20px;">
    <h5 class="font-weight-bold mb-3">InstaLite</h5>
    <ul class="nav flex-column">
        <li class="nav-item mb-2">
            <a class="nav-link text-dark active">
                <i class="fas fa-chart-line"></i> Tableau de bord
            </a>
        </li>
    </ul>
</div>


<div class="main-content" style="margin-left: 250px; padding: 20px;">
    <app-dashboard></app-dashboard>
    <app-user-list></app-user-list>
    <app-post-list></app-post-list>
    <app-image-list></app-image-list>
    <app-video-list></app-video-list>
</div>
