<div class="container-fluid p-0">
  <div class="mt-2">
    <div class="text-center">
      <h1>Bienvenue sur Insta-Lite</h1>
      <p class="lead">Partagez vos images et vidéos avec notre communauté d'artistes.</p>
      <a class="btn btn-primary btn-lg" routerLink="/gallery">Explorer la galerie</a>
    </div>
  </div>
  
  
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Galerie</h5>
              <p class="card-text">Explorez ma collection d'images</p>
              <a routerLink="/gallery" class="btn btn-primary">Voir la galerie</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Vidéos</h5>
              <p class="card-text">Regardez mes dernières créations vidéo</p>
              <a routerLink="/videos" class="btn btn-primary">Voir les vidéos</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">À propos</h5>
              <p class="card-text">En savoir plus sur mon parcours</p>
              <a routerLink="/about" class="btn btn-primary">En savoir plus</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  